---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAHpY1xjKbXE4K-nmUKxU3SujQfXPAgqgmVLj0RaRRdVL_C6t44m3kVe0SCBA1pV5Hd7TbJ6EhHE671gULkXzgR3CXgXUg03WvSWkc2IJskYJ0DxKwdgnswRbQmsYAHwRGE&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '83'
      X-Dropbox-Request-Id:
      - d7cfc97c6f4f16421c35e51fce550212
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAERU6LqytwhnIyxtRTXk8qgSao7dshzneFGCOfUXSW_miS8WJEAH-gh1Fm7ApVGBeRrOIM5lbIuAYxLHznhIZzyCO-E5ibgIYhCcvleq77GWTyGond-rz0aFyEZ2w21aeg",
        "entries": [["/dropblog-test/untitled folder", null], ["/dropblog-test/articles",
        {"bytes": 0, "rev": "bc0f500db7498", "revision": 770293, "icon": "folder",
        "path": "/dropblog-test/articles", "is_dir": true, "thumb_exists": false,
        "root": "dropbox", "modified": "Tue, 02 Dec 2014 06:50:49 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/new-article-slug", {"bytes": 0, "rev":
        "bc15c00db7498", "revision": 770396, "icon": "folder", "path": "/dropblog-test/articles/new-article-slug",
        "is_dir": true, "thumb_exists": false, "root": "dropbox", "modified": "Thu,
        04 Dec 2014 19:56:17 +0000", "size": "0 bytes"}], ["/dropblog-test/articles/new-article-slug/article.md",
        {"rev": "bc16200db7498", "thumb_exists": false, "path": "/dropblog-test/articles/new-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 19:57:19 +0000", "icon":
        "page_white_text", "bytes": 63, "modified": "Thu, 04 Dec 2014 19:57:29 +0000",
        "size": "63 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770402}], ["/dropblog-test/articles/one-off-article-slug/article.md",
        null], ["/dropblog-test/articles/one-off-article-slug", null], ["/dropblog-test/articles/updated-article-slug",
        {"bytes": 0, "rev": "bc16e00db7498", "revision": 770414, "icon": "folder",
        "path": "/dropblog-test/articles/updated-article-slug", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Thu, 04 Dec 2014 20:33:35 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/changed-article-slug/article.md", null],
        ["/dropblog-test/articles/changed-article-slug", null], ["/dropblog-test/articles/updated-article-slug/article.md",
        {"rev": "bc17400db7498", "thumb_exists": false, "path": "/dropblog-test/articles/updated-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 20:00:14 +0000", "icon":
        "page_white_text", "bytes": 52, "modified": "Thu, 04 Dec 2014 20:33:45 +0000",
        "size": "52 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770420}], ["/dropblog-test/articles/untitled folder", null], ["/dropblog-test/articles/existing-article-to-delete/article.md",
        null], ["/dropblog-test/articles/existing-article-to-delete", null]], "reset":
        false}'
  recorded_at: Thu, 04 Dec 2014 20:56:27 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/articles/new-article-slug/article.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc16200db7498", "thumb_exists": false, "path": "/dropblog-test/articles/new-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 19:57:19 +0000", "icon":
        "page_white_text", "bytes": 63, "modified": "Thu, 04 Dec 2014 19:57:29 +0000",
        "size": "63 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770402}'
      X-Server-Response-Time:
      - '222'
      Etag:
      - 770402n
      X-Dropbox-Request-Id:
      - 60270c1dfc66bc80aeb73c225e839501
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # The Title Of The Article
        I once was a frog. Now I'm a prince!
  recorded_at: Thu, 04 Dec 2014 20:56:27 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/articles/updated-article-slug/article.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc17400db7498", "thumb_exists": false, "path": "/dropblog-test/articles/updated-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 20:00:14 +0000", "icon":
        "page_white_text", "bytes": 52, "modified": "Thu, 04 Dec 2014 20:33:45 +0000",
        "size": "52 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770420}'
      X-Server-Response-Time:
      - '244'
      Etag:
      - 770420n
      X-Dropbox-Request-Id:
      - 37303bbb0d0c609da32b27c0ebdbf522
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # Updated Title
        I once was a frog. Now I'm a prince!
  recorded_at: Thu, 04 Dec 2014 20:56:28 GMT
recorded_with: VCR 2.9.3
