---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAE21VmTTrX1Puc6KbwkiUJZDPOSgrGIubOaofNDS-_1xTdAgdXt2te5O1Wc3BRWbWQ-AT5zc3haGdl4cjuzjtdGoBIxCZD7HIK4TDcr6e9f0hcUcX4kxhcSrgBQiNPPN5o&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '99'
      X-Dropbox-Request-Id:
      - b6c6bc9e8f71e5e598f70085fb95050f
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAGom8L8flhIF7tcw5jPZT4yir-TxkS_bnYwFMxa3H9U-64VoxrInKqJEXsMdyHV_OZHEOIZjXJsXYPI1L71-ZbppLhuNTJjBgxTjVNhPRIAsVqoI9Cnj09ZII7tGWL6IlI",
        "entries": [["/dropblog-test/articles/untitled folder", null], ["/dropblog-test/articles/existing-article-to-delete/article.md",
        null], ["/dropblog-test/articles/existing-article-to-delete", null], ["/dropblog-test/projects/untitled
        folder", null], ["/dropblog-test/projects/public", {"bytes": 0, "rev": "bc26a00db7498",
        "revision": 770666, "icon": "folder", "path": "/dropblog-test/projects/public",
        "is_dir": true, "thumb_exists": false, "root": "dropbox", "modified": "Wed,
        17 Dec 2014 21:52:31 +0000", "size": "0 bytes"}], ["/dropblog-test/projects/public/simple-project",
        {"bytes": 0, "rev": "bc26b00db7498", "revision": 770667, "icon": "folder",
        "path": "/dropblog-test/projects/public/simple-project", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Wed, 17 Dec 2014 21:52:31 +0000", "size":
        "0 bytes"}], ["/dropblog-test/projects/public/simple-project/articles", {"bytes":
        0, "rev": "bc26c00db7498", "revision": 770668, "icon": "folder", "path": "/dropblog-test/projects/public/simple-project/articles",
        "is_dir": true, "thumb_exists": false, "root": "dropbox", "modified": "Wed,
        17 Dec 2014 21:52:31 +0000", "size": "0 bytes"}], ["/dropblog-test/projects/simple-project",
        null], ["/dropblog-test/projects/public/simple-project/project.md", {"rev":
        "bc26f00db7498", "thumb_exists": false, "path": "/dropblog-test/projects/public/simple-project/project.md",
        "is_dir": false, "client_mtime": "Wed, 17 Dec 2014 21:55:51 +0000", "icon":
        "page_white_text", "bytes": 16, "modified": "Wed, 17 Dec 2014 21:55:51 +0000",
        "size": "16 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770671}]], "reset": false}'
  recorded_at: Wed, 17 Dec 2014 21:57:17 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/projects/public/simple-project/project.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc26f00db7498", "thumb_exists": false, "path": "/dropblog-test/projects/public/simple-project/project.md",
        "is_dir": false, "client_mtime": "Wed, 17 Dec 2014 21:55:51 +0000", "icon":
        "page_white_text", "bytes": 16, "modified": "Wed, 17 Dec 2014 21:55:51 +0000",
        "size": "16 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770671}'
      X-Server-Response-Time:
      - '218'
      Etag:
      - 770671n
      X-Dropbox-Request-Id:
      - f80c23a794cb20363aef10788f37dc1d
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # Simple Project
        some text
        ##Some Heading
  recorded_at: Wed, 17 Dec 2014 22:09:06 GMT
recorded_with: VCR 2.9.3
