---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAHpY1xjKbXE4K-nmUKxU3SujQfXPAgqgmVLj0RaRRdVL_C6t44m3kVe0SCBA1pV5Hd7TbJ6EhHE671gULkXzgR3CXgXUg03WvSWkc2IJskYJ0DxKwdgnswRbQmsYAHwRGE&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '70'
      X-Dropbox-Request-Id:
      - b32c728b41bcfe3f4f4dfc1eb97e8b28
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAE-Q5GXkhai6zkzO-edAgKUtHLTzJkopXbGwoin18Iesw-YaIKbwBWZV1A9ckWBZqgrCwsnvAVAX1fr4njEVzwHnK6Te3Kp46SfiAXLtR7kdimxW26SLRzIhgApvUkeP20",
        "entries": [["/dropblog-test/untitled folder", null], ["/dropblog-test/articles",
        {"bytes": 0, "rev": "bc0f500db7498", "revision": 770293, "icon": "folder",
        "path": "/dropblog-test/articles", "is_dir": true, "thumb_exists": false,
        "root": "dropbox", "modified": "Tue, 02 Dec 2014 06:50:49 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/one-off-article-slug", {"bytes": 0,
        "rev": "bc0fb00db7498", "revision": 770299, "icon": "folder", "path": "/dropblog-test/articles/one-off-article-slug",
        "is_dir": true, "thumb_exists": false, "root": "dropbox", "modified": "Tue,
        02 Dec 2014 06:51:11 +0000", "size": "0 bytes"}], ["/dropblog-test/articles/one-off-article-slug/article.md",
        {"rev": "bc14a00db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 05:20:15 +0000", "icon":
        "page_white_text", "bytes": 46, "modified": "Thu, 04 Dec 2014 05:20:17 +0000",
        "size": "46 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770378}], ["/dropblog-test/articles/untitled folder", null], ["/dropblog-test/articles/new-article-slug",
        {"bytes": 0, "rev": "bc15c00db7498", "revision": 770396, "icon": "folder",
        "path": "/dropblog-test/articles/new-article-slug", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Thu, 04 Dec 2014 19:56:17 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/new-article-slug/article.md", {"rev":
        "bc16200db7498", "thumb_exists": false, "path": "/dropblog-test/articles/new-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 19:57:19 +0000", "icon":
        "page_white_text", "bytes": 63, "modified": "Thu, 04 Dec 2014 19:57:29 +0000",
        "size": "63 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770402}]], "reset": false}'
  recorded_at: Thu, 04 Dec 2014 19:58:02 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/articles/one-off-article-slug/article.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc14a00db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 05:20:15 +0000", "icon":
        "page_white_text", "bytes": 46, "modified": "Thu, 04 Dec 2014 05:20:17 +0000",
        "size": "46 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770378}'
      X-Server-Response-Time:
      - '1548'
      Etag:
      - 770378n
      X-Dropbox-Request-Id:
      - c04e337a6013cfff88f2da86db503b0b
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # My Life
        I once was a frog. Now I'm a prince!
  recorded_at: Thu, 04 Dec 2014 19:58:04 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/articles/new-article-slug/article.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc16200db7498", "thumb_exists": false, "path": "/dropblog-test/articles/new-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 19:57:19 +0000", "icon":
        "page_white_text", "bytes": 63, "modified": "Thu, 04 Dec 2014 19:57:29 +0000",
        "size": "63 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770402}'
      X-Server-Response-Time:
      - '1162'
      Etag:
      - 770402n
      X-Dropbox-Request-Id:
      - a05902cd3d94a1ccbaba8c30c4cbcfa8
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # The Title Of The Article
        I once was a frog. Now I'm a prince!
  recorded_at: Thu, 04 Dec 2014 19:58:06 GMT
recorded_with: VCR 2.9.3
