---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAE-Q5GXkhai6zkzO-edAgKUtHLTzJkopXbGwoin18Iesw-YaIKbwBWZV1A9ckWBZqgrCwsnvAVAX1fr4njEVzwHnK6Te3Kp46SfiAXLtR7kdimxW26SLRzIhgApvUkeP20&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '65'
      X-Dropbox-Request-Id:
      - f54110bba7bc86fdce11c9ce50750845
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAFYdv5D954WjFubn5E-3K3vBom7XoIWyUEphbEjAmrmtxfu11TPnhLCKaue_uMiPb3Tg7WaYKeSl8j80Fqlym7smxPifqHjt1JdG2vALPOxG6AQtNOprJdj4cigezjkwKA",
        "entries": [["/dropblog-test/articles/one-off-article-slug/article.md", {"rev":
        "bc16400db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 20:00:14 +0000", "icon":
        "page_white_text", "bytes": 52, "modified": "Thu, 04 Dec 2014 20:00:26 +0000",
        "size": "52 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770404}]], "reset": false}'
  recorded_at: Thu, 04 Dec 2014 20:00:43 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/articles/one-off-article-slug/article.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc16400db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 20:00:14 +0000", "icon":
        "page_white_text", "bytes": 52, "modified": "Thu, 04 Dec 2014 20:00:26 +0000",
        "size": "52 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770404}'
      X-Server-Response-Time:
      - '189'
      Etag:
      - 770404n
      X-Dropbox-Request-Id:
      - 4947690815b3378501a6cbbe2a312508
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # Updated Title
        I once was a frog. Now I'm a prince!
  recorded_at: Thu, 04 Dec 2014 20:00:44 GMT
recorded_with: VCR 2.9.3
