---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAHpY1xjKbXE4K-nmUKxU3SujQfXPAgqgmVLj0RaRRdVL_C6t44m3kVe0SCBA1pV5Hd7TbJ6EhHE671gULkXzgR3CXgXUg03WvSWkc2IJskYJ0DxKwdgnswRbQmsYAHwRGE&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '65'
      X-Dropbox-Request-Id:
      - ffeab1048112e1e3ec333fdc38ce4644
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAFFw7Ym_ZYYmM8GhQ4a86k_tFYE0IvzBBC5xEIoclAi1jON9t4mmH7nuhZGtaRYV2BmpLiVM4t7T7Jb3OE9nU4_N7JwWZ5owxnS7-2i11UzljUf9qiAGbbAaKjV3Dcl91Q",
        "entries": [["/dropblog-test/untitled folder", null], ["/dropblog-test/articles",
        {"bytes": 0, "rev": "bc0f500db7498", "revision": 770293, "icon": "folder",
        "path": "/dropblog-test/articles", "is_dir": true, "thumb_exists": false,
        "root": "dropbox", "modified": "Tue, 02 Dec 2014 06:50:49 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/untitled folder", null], ["/dropblog-test/articles/one-off-article-slug",
        {"bytes": 0, "rev": "bc0fb00db7498", "revision": 770299, "icon": "folder",
        "path": "/dropblog-test/articles/one-off-article-slug", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Tue, 02 Dec 2014 06:51:11 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/one-off-article-slug/article.md", {"rev":
        "bc0fd00db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Tue, 02 Dec 2014 06:51:24 +0000", "icon":
        "page_white_text", "bytes": 0, "modified": "Tue, 02 Dec 2014 06:51:27 +0000",
        "size": "0 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770301}]], "reset": false}'
  recorded_at: Tue, 02 Dec 2014 06:53:24 GMT
recorded_with: VCR 2.9.3
