---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAE_SobujJRM3kEAQWd4YdV4y0zd_JOU5rYnR8YZFJ5X9y1toIzsIQRPkg6hQRIgFfR1z0Stv3bhRTB_byIQzVfd_ooNzNKVHy0GVaXyMS0G5wQujJzuRA8RzEKiISLF17A&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '64'
      X-Dropbox-Request-Id:
      - cfb17f7a759e8d4f2f2f776fcab04ec8
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAHpY1xjKbXE4K-nmUKxU3SujQfXPAgqgmVLj0RaRRdVL_C6t44m3kVe0SCBA1pV5Hd7TbJ6EhHE671gULkXzgR3CXgXUg03WvSWkc2IJskYJ0DxKwdgnswRbQmsYAHwRGE",
        "entries": [], "reset": false}'
  recorded_at: Tue, 02 Dec 2014 06:32:04 GMT
recorded_with: VCR 2.9.3
