---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAE_SobujJRM3kEAQWd4YdV4y0zd_JOU5rYnR8YZFJ5X9y1toIzsIQRPkg6hQRIgFfR1z0Stv3bhRTB_byIQzVfd_ooNzNKVHy0GVaXyMS0G5wQujJzuRA8RzEKiISLF17A&path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '69'
      X-Dropbox-Request-Id:
      - 058ad67d4fbf705776f7cbe08d817235
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAEVt-9PrAfOALbT2GCA2l1D4d5bUThhB6HTFk9wmeu7EanSyN1C4iSNE8beiBb2SyHnpZuGA5jb9-qkpFhg-fOTztliTSCiT4UC_3TgpT05aCVZUQbKolbw-c6EeRZWgG0",
        "entries": [["/dropblog-test/untitled folder", null], ["/dropblog-test/articles",
        {"bytes": 0, "rev": "bc0f500db7498", "revision": 770293, "icon": "folder",
        "path": "/dropblog-test/articles", "is_dir": true, "thumb_exists": false,
        "root": "dropbox", "modified": "Tue, 02 Dec 2014 06:50:49 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/untitled folder", null], ["/dropblog-test/articles/one-off-article-slug",
        {"bytes": 0, "rev": "bc0fb00db7498", "revision": 770299, "icon": "folder",
        "path": "/dropblog-test/articles/one-off-article-slug", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Tue, 02 Dec 2014 06:51:11 +0000", "size":
        "0 bytes"}], ["/dropblog-test/articles/one-off-article-slug/article.md", {"rev":
        "bc14400db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 03:55:07 +0000", "icon":
        "page_white_text", "bytes": 130, "modified": "Thu, 04 Dec 2014 03:55:10 +0000",
        "size": "130 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770372}]], "reset": false}'
  recorded_at: Thu, 04 Dec 2014 03:55:37 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/dropblog-test/articles/one-off-article-slug/article.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "bc14400db7498", "thumb_exists": false, "path": "/dropblog-test/articles/one-off-article-slug/article.md",
        "is_dir": false, "client_mtime": "Thu, 04 Dec 2014 03:55:07 +0000", "icon":
        "page_white_text", "bytes": 130, "modified": "Thu, 04 Dec 2014 03:55:10 +0000",
        "size": "130 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770372}'
      X-Server-Response-Time:
      - '466'
      Etag:
      - 770372n
      X-Dropbox-Request-Id:
      - c0f87d82b79db7bdbc02e85d89b7a4ee
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |-
        # The title of the article

        thaskdlfaslkdjf asdljkf  lsdkfjasldkf asdfkj asdlfk as
        lasdfjk asdfkl sajdflkas dfklasdf

        ## Some data
  recorded_at: Thu, 04 Dec 2014 03:55:38 GMT
recorded_with: VCR 2.9.3
