---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: path_prefix=%2Fdropblog-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer zxKD5LR01akAAAAAAAAu4MmgCGJ01_PMVg9CCdRhyRqFTDjwNeMx1HUO1B-3QZ32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '4960'
      X-Dropbox-Request-Id:
      - 87adcbb0bfa46453e6c03019b5ed95ee
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAE_SobujJRM3kEAQWd4YdV4y0zd_JOU5rYnR8YZFJ5X9y1toIzsIQRPkg6hQRIgFfR1z0Stv3bhRTB_byIQzVfd_ooNzNKVHy0GVaXyMS0G5wQujJzuRA8RzEKiISLF17A",
        "entries": [["/dropblog-test", {"bytes": 0, "rev": "bbf1300db7498", "revision":
        769811, "icon": "folder", "path": "/dropblog-test", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Tue, 18 Nov 2014 03:35:22 +0000", "size":
        "0 bytes"}], ["/dropblog-test/projects", {"bytes": 0, "rev": "bbf1900db7498",
        "revision": 769817, "icon": "folder", "path": "/dropblog-test/projects", "is_dir":
        true, "thumb_exists": false, "root": "dropbox", "modified": "Tue, 18 Nov 2014
        03:47:06 +0000", "size": "0 bytes"}], ["/dropblog-test/projects/mow-lawn",
        {"bytes": 0, "rev": "bbf1f00db7498", "revision": 769823, "icon": "folder",
        "path": "/dropblog-test/projects/mow-lawn", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Tue, 18 Nov 2014 04:19:22 +0000", "size":
        "0 bytes"}], ["/dropblog-test/projects/mow-lawn/articles", {"bytes": 0, "rev":
        "bbf2500db7498", "revision": 769829, "icon": "folder", "path": "/dropblog-test/projects/mow-lawn/articles",
        "is_dir": true, "thumb_exists": false, "root": "dropbox", "modified": "Tue,
        18 Nov 2014 04:19:30 +0000", "size": "0 bytes"}], ["/dropblog-test/projects/mow-lawn/images",
        {"bytes": 0, "rev": "bbf2b00db7498", "revision": 769835, "icon": "folder",
        "path": "/dropblog-test/projects/mow-lawn/images", "is_dir": true, "thumb_exists":
        false, "root": "dropbox", "modified": "Tue, 18 Nov 2014 04:19:40 +0000", "size":
        "0 bytes"}], ["/dropblog-test/projects/mow-lawn/articles/first-mow-up.md",
        {"rev": "bc0e900db7498", "thumb_exists": false, "path": "/dropblog-test/projects/mow-lawn/articles/first-mow-up.md",
        "is_dir": false, "client_mtime": "Tue, 18 Nov 2014 04:21:38 +0000", "icon":
        "page_white_text", "bytes": 63, "modified": "Tue, 02 Dec 2014 05:15:06 +0000",
        "size": "63 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770281}], ["/dropblog-test/projects/mow-lawn/articles/second.md",
        {"rev": "bc0ed00db7498", "thumb_exists": false, "path": "/dropblog-test/projects/mow-lawn/articles/second.md",
        "is_dir": false, "client_mtime": "Tue, 02 Dec 2014 05:16:30 +0000", "icon":
        "page_white_text", "bytes": 0, "modified": "Tue, 02 Dec 2014 05:16:33 +0000",
        "size": "0 bytes", "root": "dropbox", "mime_type": "application/octet-stream",
        "revision": 770285}], ["/dropblog-test/projects/mow-lawn/articles/second.xo",
        {"rev": "bc0ef00db7498", "thumb_exists": false, "path": "/dropblog-test/projects/mow-lawn/articles/second.xo",
        "is_dir": false, "client_mtime": "Tue, 02 Dec 2014 05:16:35 +0000", "icon":
        "page_white", "bytes": 0, "modified": "Tue, 02 Dec 2014 05:16:38 +0000", "size":
        "0 bytes", "root": "dropbox", "mime_type": "application/octet-stream", "revision":
        770287}]], "reset": true}'
  recorded_at: Tue, 02 Dec 2014 06:30:15 GMT
recorded_with: VCR 2.9.3
