---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":true,"include_deleted":true,"include_media_info":false,"path":"/dropblog-test"}'
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAACy7PROSgKhAtZdPVq5-QyVgAKL3Dw_BvE-SUE3vSFSfVo3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - f2ac110df528031a77d012f9f0aab5ad
      X-Server-Response-Time:
      - '868'
    body:
      encoding: UTF-8
      string: '{"entries": [{".tag": "folder", "name": "dropblog-test", "path_lower":
        "/dropblog-test", "path_display": "/dropblog-test", "id": "id:sLXoYGJuQ2sAAAAAAABsGQ"},
        {".tag": "folder", "name": "projects", "path_lower": "/dropblog-test/projects",
        "path_display": "/dropblog-test/projects", "id": "id:sLXoYGJuQ2sAAAAAAABsGw"},
        {".tag": "folder", "name": "mow-lawn", "path_lower": "/dropblog-test/projects/mow-lawn",
        "path_display": "/dropblog-test/projects/mow-lawn", "id": "id:sLXoYGJuQ2sAAAAAAABsHQ"},
        {".tag": "folder", "name": "articles", "path_lower": "/dropblog-test/projects/mow-lawn/articl[...]
