---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAE5WFJwuVk4MObobTUzwBc8qNn82JSPD1pNGRf2S2cDqjQH-IcMUh2kTX91TrFpfA3SoWlbsp0XKgF9tJGjU4UFkx1pS2TVdG6ofbG7HrY91IUchOkh2BGeB9RY0h4LPPp6Gk8Ak6JSr-fu5-oFbkKEaG9_cSgAbs4qjaqZurx0MalrrnQDczzJxMTl5oBq2qzhHz0LRSQ_ozVU_4PPLsDH"}'
    headers:
      Authorization:
      - Bearer zxKD5LR01akAAAAAAACy7PROSgKhAtZdPVq5-QyVgAKL3Dw_BvE-SUE3vSFSfVo3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a85002d844dae55dfb9f45c68a743fc9
      X-Server-Response-Time:
      - '180'
    body:
      encoding: UTF-8
      string: '{"entries": [{".tag": "deleted", "name": "recursive", "path_lower":
        "/dropblog-test/projects/recursive", "path_display": "/dropblog-test/projects/recursive"}],
        "cursor": "AAHjAwLfyVYKVVsJFWvllStpAJp6P4PCYkBe4s0CVHod9Lg-x5S_EHfmiYdCjmfWaJ3J2Cie_RPESCHOHNkaqYOShlBUAd9KrtUcaKL3tK7Z4bbJ0eRgfUWGLan-xXUaSokvi9e1xH1lGNfKTPzVqV1yi9CDbKvpFqx24mKtoQRx1arbgX6zXaTKhq_wMncLTHzpRp7QP66r0WMOEuLHMQGp",
        "has_more": false}'
  recorded_at: Thu, 27 Jul 2017 00:11:30 GMT
recorded_with: VCR 2.9.3
