$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

@import "foundation";
@import "font-awesome";
@import "compass/css3/transition";

$dark-red: #440000;

@mixin full-width-centered {
    @extend .large-12;
    @extend .columns;
    @extend .text-center;
}

.full-width-centered {
    @include full-width-centered;
}

.pad-2-bottom {
    padding-bottom: 2em;
}

.pad-1-bottom {
    padding-bottom: 1em;
}

.site-footer {
    background-color: $dark-red;
    padding-top: 1em;
    small {
        font-weight: 200;
        color: #7E2A2A;
        font-size: 80%;
    }
}

a.social-link {
    color: #7E2A2A;
    @include single-transition(all 0.5s ease 0s);
    &:hover {
        color: #ddd;
    }
}

// @mixin six-columns-centered {
//   @extend .small-6;
//   @extend .columns;
//   @extend .text-center;
//   }
// // create your own classes
// // to make views framework-neutral
// .column {
//   @include six-columns-centered;
//   }
// .form {
//   @include grid-column(6);
//   }
// .form-centered {
//   @include six-columns-centered;
//   }
// .submit {
//   @extend .button;
//   @extend .radius;
//   }
// // apply styles to HTML elements
// // to make views framework-neutral
// main {
//   @include twelve-columns;
//   background-color: #eee;
//   }
// section {
//   @extend .row;
//   margin-top: 20px;
//   }
