li=link_to 'Prototyping'.upcase, services_path, alt: 'prototyping', title: 'prototyping'
li=link_to 'Projects'.upcase, projects_path, alt: 'projects', title: 'projects'
li=link_to fa_icon('home 2x'), root_path, class: 'home-icon', alt: 'home', title: 'home'
li=link_to 'Articles'.upcase, articles_path, alt: 'articles', title: 'articles'
li=link_to 'Interests'.upcase, interests_path, alt: 'interests', title: 'interests'
