li=link_to 'Services'.upcase, services_path
li=link_to 'Consulting'.upcase, consulting_path
li=link_to 'Store'.upcase, '//shop.neverstopbuilding.com'
li=link_to fa_icon('home 2x'), root_path, class: 'home-icon'
li=link_to 'Projects'.upcase, projects_path
li=link_to 'Articles'.upcase, articles_path
li=link_to 'Interests'.upcase, interests_path
